_site/
/demos/wc2-5/*
.DS_Store
/demos/.RData
/demos/.Rhistory
/demos/.Rproj.*
demos/.Rhistory

demos/.RData

*.pper

*.pper

demos/.Rproj.user/B68A1ACB/sdb/s-80B7D377/4C61E98A
/demos/GLOBCOVER_L4_200901_200912_V2.3*
.Rproj.user


demos/nlcd_2011_USFS_tree_canopy_2011_edition_2014_03_31/*
CV/Healthcare*
CV/Industry*
CV/Veriz*
CV/Cov*
CV/Temp*
CV/PETA*
CV/.Rhist*

